/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 16px/1.4 'Segoe UI', 'Segoe', Verdana, Arial, sans-serif;
}

body {
  // background: #fff;
}

.wrapper {                        // Wrapper around all block content
	@include outer-container(100%);
  
  section {
    height: 100vh;
    overflow: hidden;  
		@include fill-parent();

    &#intro, &#complete {
      background-color: $color--primary; 
    }
	}
  
}

